body{
background-color: hsl(225, 100%, 94%);

}
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button{
    background-color:  hsl(245, 75%, 52%);
    color: white;
    height: 35px;
    width: 75%;
    border-radius: 6px;
    box-shadow: 8px 8px rgb(231, 230, 230); 
}
.mummy{ 
    margin-top: 5%;
    width: 25%;
    background-color: white;
    text-align: center;
    margin-left: 35%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px ;

    
}
.shrink{
    width: 99.9%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}